<%-include("partials/header") %>
<div
    class="
        container
        d-flex
        flex-column
        justify-content-center
        align-items-center
        vh-100
    "
>
    <form
        action="/login"
        method="POST"
        class="
            w-50
            d-flex
            flex-column
            justify-content-center
            align-items-center
        "
    >
        <h1>Login</h1>
        <div class="form-floating mb-3 w-100">
            <input
                type="text"
                class="form-control"
                id="floatingInput"
                placeholder="Name"
                required
                name="name"
            />
            <label for="floatingInput">Name</label>
        </div>
        <button class="btn btn-lg btn-primary w-100" type="submit">
            Login
        </button>
    </form>
</div>
<%-include("partials/footer") %>
